
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
body{
    font-family: Uncial Antiqua;
}

.header {
    display:flex;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-image: url('Répertoire-Image/Image\ haut\ page\ accueil.webp');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right top;
}

.headerH1{
    text-align: center;
    font-size: 50px;   
}

.header a{
    display: flex;

}

.menu{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #BFAB5C 0%, #000 100%);
    width: 70%;
    align-items: center;
    margin: 2% 12%;
   
}

a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color:white;
}

.category{
    margin:0 45px;
}

body {
    background-color: black;
    color: white;
}

.ListeBoss{
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
}
.contenu{ /* boite rouge boss*/
    background-color: #4F4726 ;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 50%;
    margin: 50px 0;
}
.Boss {
    background-color: #030303;
    border: #883D2C solid;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 50px 20px;
}

.backgroundTaurus {
    background-color: black;
    border: #883D2C solid;
    
    
}

.titre{
    font-size: 1.5em;
}

.photoBoss {
    margin: 0 20px;
}

.source{
    width: 80%;
    margin: 0 20px;
    font-size: 10px;
}

.colone{
    display: flex;
    flex-flow: column nowrap;
}

.statBoss{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.infoBoss{
     display: flex;    
      justify-content: center;
}

.descriptionBoss h3{
    font-size: 2.125em;
}

.descriptionBoss{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 20px;
}

.descriptionBoss p{
    font-size: 1.125em;
}
h1{
    text-align: center;
}
.stratégie h3{
    font-size: 2.125em;
}

.stratégie{
    background-color: #030303;
    border: #883D2C solid;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 50px 20px;
}



footer{
    background: linear-gradient(black, #4F4726);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagesFooter{
    display: flex;
    justify-content: space-between;
}