body {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

@font-face {
    font-family: uncialAntiqua;
    src: url(Uncial_Antiqua/UncialAntiqua-Regular.ttf);
}

h1 {
    text-align: center;
    font-family: uncialAntiqua;
    font-size:  50px;

}

h2 {
    color: white;
    font-family: uncialAntiqua;
    text-align: left;
    font-size: 38px;
}

h5 {
    font-size: 12px;
    text-align: left;
}

h6 {
    font-size: 12px;
    text-align: left;
 }
.header {
    display:flex;
    justify-content: space-evenly;
    background-image: url('Répertoire-Image/Image\ haut\ page\ accueil.webp');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right top;
}

.menu {
    display:flex;
    justify-content: center;
    width: 70%;
    margin:2%;
    background: linear-gradient(#BFAB5C, black);
    align-items: center;
}

.news {
    width: 38%;
    background-color: #4F4726;
    padding: 1px 3%;
    margin-left: 3%;
}

.fanart {
    background-color: #4F4726;
    width: 38%;
    padding: 1px 3%;
    margin-top: 1%;
    margin-left: 3%;
}

.summary {
    background: linear-gradient(#4F4726, black);
    width: 42%;
    float: right;
    padding: 1px 2%;
    margin-right: 3%;
}

footer {
    background: linear-gradient(black, #4F4726);
    display:flex;
    flex-direction: column;
    align-items: center;
}

