body {
    background-color: black;
    color: white;
}

h2 {
    color: white;
}

.header {
    display:flex;
    justify-content: space-evenly;
    background-image: url('Répertoire-Image/Image\ haut\ page\ accueil.webp');
    background-repeat: no-repeat;
    background-size: 70%;
}

.menu {
    display:flex;
    justify-content: center;
    width: 70%;
    background: linear-gradient(#BFAB5C, black);
}

.news {
    width: 50%;
    background-color: #4F4726;
}

.fanart {
    background-color: #4F4726;
    width: 50%;
}

.summary {
    background: linear-gradient(#4F4726, black);
    width: 30%;
    float: right;
    
}

footer {
    background: linear-gradient(black, #4F4726);
    display:flex;
    justify-content: center;
}