body {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

@font-face {
    font-family: uncialAntiqua;
    src: url(Uncial_Antiqua/UncialAntiqua-Regular.ttf);
}

h1 {
    text-align: center;
    font-family: uncialAntiqua;
    font-size:  50px;
}

h4 { 
    margin-top: 2%;
}

h5 {
    font-size: 12px;
    text-align: left;
}

h6 {
    font-size: 12px;
    text-align: left;
 }

 .header {
    display:flex;
    justify-content: space-evenly;
    background-image:
    linear-gradient(to right, black, rgba(255,0,0,0.0)),
    url('Répertoire-Image/Image\ haut\ page\ accueil.webp');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right top;
}

.menu {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #BFAB5C 0%, #000 100%);
    width: 70%;
    align-items: center;
    margin: 2% 12%;
}

.menuderoulant{
    height: 20px;
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.menuderoulant li{
    float: left;
    width: 200px;
}

.menuderoulant li a:link, .menuderoulant li a:visited{
    display: block;
    color: #883D2C;
    background: #BFAB5C;
    padding: 6px 10px;
    border-right: 1px solid wheat ;
    text-align: center;
    text-decoration: none;
}

.menuderoulant li a:hover {background-color: azure;}
.menuderoulant li :active {background-color: aquamarine;}

.menuderoulant .sousmenu{
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menuderoulant .sousmenu li{
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menuderoulant .sousmenu li a:link, .menuderoulant  li a:visited {
    display: block;
    color: wheat;
    text-decoration: none;
    background-color: #883D2C;
}

.menuderoulant .sousmenu li a:hover { 
    background-color: aliceblue;
}

.menuderoulant li:hover .sousmenu {
    display: block;
}

a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color:white;
}

.category { 
    margin: 0 45px; 
}

 select, option { 
	font-size: 18px;
    padding: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    background: linear-gradient(#BFAB5C, black);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
 }
 
.news {
    width: 38%;
    background-image: 
    linear-gradient(to right, #4F4726, rgba(255,0,0,0.0)),
    url(Répertoire-Image/Image\ nouvelle.webp);
    background-repeat: no-repeat;
    background-position: 130px;
    background-size: 70%;
    background-color: #4F4726;
    padding: 1px 3%;
    margin-left: 3%;
    margin-bottom: 3%;
    font-size: 30px;
    text-align: left;
}

.fanart {
    background-color: #4F4726;
    width: 38%;
    padding: 1px 3%;
    margin-top: 1%;
    margin-left: 3%;
}

.summary {
    background: linear-gradient(#4F4726, black);
    width: 42%;
    float: right;
    padding: 1px 2%;
    margin-right: 3%;
}

.text { 
    margin:5%;
}

h2 {
    color: white;
    font-family: uncialAntiqua;
    text-align: left;
    font-size: 38px;
}

footer {
    background: linear-gradient(black, #4F4726);
    display:flex;
    flex-direction: column;
    align-items: center;
}

.imagesFooter{
    display: flex;
    justify-content: space-between;
}

