@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
body{
    font-family: Uncial Antiqua;
}

.header {
    display:flex;
    justify-content: space-evenly;
    background-repeat: no-repeat;
    background-image: url('Répertoire-Image/Image\ haut\ page\ accueil.webp');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right top;
}

.header h1{
    text-align: center;
    font-size: 50px;   
}

.header a{
    display: flex;

}

.menu{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #BFAB5C 0%, #000 100%);
    width: 70%;
    align-items: center;
    margin: 2% 12%;
   
}

a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color:white;
}

.category{
    margin:0 45px;
}

body {
    background-color: black;
    color: white;
}

.contenu{ /* boite rouge boss*/
    background-color: #4F4726 ;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 50%;
    margin: 50px 0;
}

.sections{
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
}

.stratégie{
    background-color: #030303;
    border: #883D2C solid;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 50px 20px;
}

.stratégie h3{
    font-size: 2.125em;
}

.stratégie p{
    font-size: 1.125em;
    margin: 20px 20px;
}

h1{
    text-align: center;
}

footer{
    background: linear-gradient(black, #4F4726);
    display: flex;
    flex-direction: column;
    align-items: center;
}
