body {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: center;
}

@font-face {
    font-family: uncialAntiqua;
    src: url(Uncial_Antiqua/UncialAntiqua-Regular.ttf);
}

/*pour le haut de page*/
h1{
    text-align: center;
    font-family: uncialAntiqua;
    font-size:  50px;
}

h4 { 
    margin-top: 2%;
}

.header {
    display:flex;
    justify-content: space-evenly;
    background-image:
    linear-gradient(to right, black, rgba(255,0,0,0.0)),
    url('Répertoire-Image/Image\ haut\ page\ accueil.webp');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right top;
}

/*pour le menu*/
.menu {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #BFAB5C 0%, #000 100%);
    width: 70%;
    align-items: center;
    margin: 2% 12%;
}

/*CSS menu déroulant*/
.menuderoulant{
    height: 20px;
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.menuderoulant li{
    float: left;
    width: 200px;
}

.menuderoulant li a:link, .menuderoulant li a:visited{
    display: block;
    color: #883D2C;
    background: #BFAB5C;
    padding: 6px 10px;
    border-right: 1px solid wheat ;
    text-align: center;
    text-decoration: none;
}

.menuderoulant li a:hover {background-color: azure;}
.menuderoulant li :active {background-color: aquamarine;}

.menuderoulant .sousmenu{
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menuderoulant .sousmenu li{
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menuderoulant .sousmenu li a:link, .menuderoulant  li a:visited {
    display: block;
    color: wheat;
    text-decoration: none;
    background-color: #883D2C;
}

.menuderoulant .sousmenu li a:hover { 
    background-color: aliceblue;
}

.menuderoulant li:hover .sousmenu {
    display: block;
}

/*pour les options autres que la section catégories*/
a:link {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color:white;
}

.category { 
    margin: 0 45px; 
}

select, option { 
	font-size: 18px;
    padding: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
    background: linear-gradient(#BFAB5C, black);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}

/*Pour la section d'informations*/
.info { 
    float: left;
    font-size: 14px;
    padding: 0 20px;
}

.logo, .at {
    margin: 0 60px;
}

.email { 
    margin: 30px 60px;
    font-size: 24px;
}

/*pour le formulaire*/
.form {
    text-align: center;
    font-size: 36px;
    font-family: uncialAntiqua;
}

input[type="name"], input[type="email"] {
    margin: 15px;
    padding: 5px; 
    padding-right: 350px;
    text-align: left;
}

textarea {
    margin: 15px;
    padding-bottom: 70px;
    padding-right: 300px;
}


